﻿@model FinancialManager.Entities.DtoTransaction

@using (Html.BeginForm("Create" , "ServiceTrx", new
{
    accountorigen = "accountorigen",
    typeTrx = "typeTrx",
    value="value",  
    accountdestine="accountdestine" 
} , FormMethod.Post ))

{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Register Transaction</h4>
        <hr />
       @if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

        <div class="form-group">
        <span class="control-label col-md-2">Account Origen</span>
        <div class="col-md-10">
            <input type="text" placeholder="Account Origen" id="AccountOrigen" name="AccountOrigen">
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Type transaction</span>
        <div class="col-md-10">
            <select id="typeTrx" name="typeTrx">
                <option value="">...</option>
                <option value="TRANSFER">TRANSFER</option>
                <option value="DEPOSIT">DEPOSIT</option>
                <option value="PAYMENT">PAYMENT</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        <span class="control-label col-md-2">Value</span>
        <div class="col-md-10">
            <input type="text" placeholder="Value" id="Value" name="Value">
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Account Origen</span>
        <div class="col-md-10">
            <input type="text" placeholder="Account Destine" id="AccountDestine" name="AccountDestine">
        </div>
    </div>

    <div class="col-md-offset-3 col-md-10">
        <input type="submit" class="btn btn-default" value="Save" />
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
