﻿@using FinancialManager.Entities;
@using FinancialManager.Web.Models;
@model   FinancialManager.Api.Models.ListTransaction

<table class="table">
    <tr class="row">
        <th>Id</th>
        <th>Orgien</th>
        <th>Value</th>
        <th>Old Balance</th>
        <th>New Balance</th>
        <th>Type</th>
        <th>AccountDestine</th>
        <th>Is Fraud</th>
        <th>Date</th>
    </tr>


    @foreach (DtoTransaction item in Model.messsage)
    {
        <tr class="row">
            <td>@Html.ActionLink(item.Id.ToString("#"), "MarkFraud",  new { 
             id = (int) item.Id
             
           } ,null ) </td>
            <td>@item.AccountOrigen</td>
            <td>@item.Value</td>
            <td>@item.OldBalanceOrigen</td>
            <td>@item.NewBalanceOrigen</td>
            <td>@item.TypeTx</td>
            <td>@item.AccountDestine</td>
            <td>@item.isFraud</td>
            <td>@item.dateTransaction</td>
        </tr>
    }

</table>