﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("getTransactions", "ServiceTrx", new
{
    pagezise="20",
    pagenumber="1",
    isFraud = "isFraud",
    dateTrx = "dateTrx",    
    accountDest = "accountDest"   
    
}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Find Trasactions</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
                <span class="control-label col-md-2">Acount Destine</span>
                <div class="col-md-10">
                    <input type="text" placeholder="Search Destine" id="accountDest" name="accountDest">
                </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Trasaction Date</span>
            <div class="col-md-10">
                <input type="date" placeholder="YYYYMMDD"  id="dateTrx" name="dateTrx" >
            </div>
        </div>
        
        <div class="form-group">
            <span class="control-label col-md-2">Is Fraud</span>
            <div class="col-md-10">
                <select id="isFraud" name="isFraud">
                    <option value="">...</option>
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select>

            </div>
        </div>
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" class="btn btn-default" value="Find" />
        </div>
        
    </div>
}

<div>
    @Html.ActionLink("Register New Tranaction", "Create", "ServiceTrx" )
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>

}