﻿@model FinancialManager.Entities.DtoTransaction

@using (Html.BeginForm("RegisterFraud", "ServiceTrx", new
{
    isFraud = "isFraud",
    Id = "Id",
}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    
    if (TempData["SuccessUpdate"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessUpdate"]</p>
}

    <div class="form-horizontal">
        <h4>Register Trasaction as Fraud</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <span class="control-label col-md-2">Acount Origen</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.AccountOrigen)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Acount Destine</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.AccountDestine)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Transaction Type</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.TypeTx)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Value</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.Value)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Is Fraud</span>
            <div class="col-md-10">
                
                <div class="col-md-10">
                    <select id="isFraud" name="isFraud" >
                        <option value="">...</option>
                        <option value="0">NO</option>
                        <option value="1">YES</option>
                    </select>
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Date</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.dateTransaction)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">User</span>
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.user)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
